input{
    align-self: center;
    background-color: transparent;
    height: 3.5rem;
    width: 39.3vw;
    padding-left: 1rem;
    margin-right: 1%;
    border-radius: 10px;
    border-color: #C98CF1;
    background: url(../../../public/assets/Vector.svg) no-repeat 38vw; /*o 38 eh a width desde o inicio*/
}
input::placeholder{
    font-size: 1.75rem;
    font-weight: 400;
    color: #D9D9D9;
    font-family: 'Noto Sans', sans-serif;
}